        #themecolors a {
            cursor: pointer;
        }
        
        .pointer {
            cursor: pointer;
        }
        
        .pointer:hover {
            color: white !important;
        }
        
        .w150 {
            width: 150px;
        }
        
        .w150Modal {
            width: 480px;
        }
        
        .centrar {
            text-align: center;
        }
        
        html,
        body {
            height: 100%;
        }
        
        body {
            margin: 0;
            font-family: Roboto, "Helvetica Neue", sans-serif;
        }
        /* Boton Upload Files*/
        
        #file2 {
            height: 0;
            overflow: hidden;
            width: 0;
        }
        
        #file2+label {
            background: #f15d22;
            border: none;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            font-family: "Poppins", sans-serif;
            font-size: inherit;
            font-weight: 600;
            margin-bottom: 1rem;
            outline: none;
            padding: 1rem 50px;
            position: relative;
            transition: all 0.3s;
            vertical-align: middle;
        }
        
        #file2+label.btn-2 {
            background-color: #17a2b8;
            border-radius: 50px;
            overflow: hidden;
        }
        
        #file2+label.btn-2::before {
            color: #ffffff;
            content: "\f0ee";
            font-family: 'FontAwesome';
            font-weight: normal;
            font-style: normal;
            font-size: 100%;
            height: 100%;
            right: 130%;
            line-height: 3.3;
            position: absolute;
            top: 4px;
            transition: all 0.3s;
        }
        
        #file2+label.btn-2:hover {
            background-color: #007bff;
        }
        
        #file2+label.btn-2:hover::before {
            right: 75%;
        }